
header div,
h1 
{
font-family: 'Montserrat', sans-serif;
}

body {
background-color: grey;
}

.contenedorPadre {
display: flex;
flex-direction: column;
margin: 0;
}

.encabezado {
display: flex;
align-items: center;
justify-content: center;
}

/* Navigation bar */

.topnav {
background-color: rgb(212, 193, 129);
flex: 1 1;
align-self: flex-end;
align-items: baseline;
flex-grow: 1;
flex-basis: 100%; 
padding: 10px;
}

@media only screen and (min-width:200px){
    .topnav {background: pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (min-width:600px){
    .topnav {background: orange;}
}

@media only screen and (min-width:768px){
    .topnav {background: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width:1200px){
    .topnav {background: rgb(212, 193, 129);}
}

.menu ul{
margin: 0 15px 0 0;
list-style: none;
float: left;
padding: 0;
display: flex;
}

.menu li{
font-size: 12px;
text-transform: uppercase;
padding: 0 10px;
letter-spacing: 1px;
}

.menu li a{
display: block;
padding: 0 20px;
color: #fff;
text-decoration: none;
}

.menu div {
margin: 0 15px 0 0;
list-style: none;
float: right;
padding: 0;
display: flex;
}

.menu div li{
font-size: 12px;
padding: 0 10px;
letter-spacing: 1px;
}

.menu div ul li i {
font-size: 20px;
}

/* Main */

main {
    position: absolute;
    display: block;
    bottom: 50%;
    justify-content: center;
}

h1, p, .opciones {
    display: block;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

.comoFunciona, .entrar {
    position: relative;
    top: 50px;
    margin: 10px;
    border: 10px;
    padding: 10px;
    background-color: pink;
}

.pie {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 10px;
    position: absolute;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}

.pie {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }

.pie div {
    padding: 20px;
}

@media only screen and (min-width:200px){
    .pie {background: pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media only screen and (min-width:600px){
    .pie {background: orange;}
}
@media only screen and (min-width:768px){
    .pie {background: blue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width:1200px){
    .pie {background: rgb(212, 193, 129);}
}